{% extends "base.html" %}

{% block title %}about{% endblock title %}

{% block body %}

    <div class="card color-red">
        <img src="/static/about.jpg" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">About Us</h5>

          <p class="card-text"><p style="padding-top:-500px;font-size:22px ;">In a world full of delicious desserts and treats, it can feel nearly impossible to pick just one favorite. However, ice cream is usually high on the list for most people. Cold, creamy, and sugary, ice cream makes the best snack at any season, event, time of day, party... you name it. Even lesser ice cream flavors are still good. The frozen dessert has been around for many, many years, and there are some pretty interesting facts about the history of ice cream that any fan should know.<br>

            Knowing when ice cream was invented, how ice cream sundaes came about, and where the idea for the ice cream cone came from will make enjoying your next bowl even more meaningful. Feel free to share these facts with kids (who will definitely love hearing them) or online, or just keep them to yourself -- there's no such thing as too much knowledge. Maybe these will even inspire you to try a new type of ice cream or a different flavor. Enjoy your ice cream while you check out these facts.<br>
            
        Before milk based ice creams were introduced in 10th century, this summer treat was indeed made from ice.
        
        Industrial production of ice cream begun in 1851 in Boston, United States.
        Spreading of American made ice cream for military troops during World War II was a moment when entire world accepted ice cream as a perfect summer-time treat.
        The largest worldwide consumption of ice cream is in United States. There, one average person consumes 48 pints of ice cream per year.
        90% of American households eat ice cream.
        Biggest ice cream sundae was created in Edmonton, Alberta, Canada in 1988. It weighted 24 tons.
        Ice cream recipe came to North America 250 years after it was discovered by Christopher Columbus.
        The most popular flavor of ice cream is vanilla. After it come chocolates, strawberry, cookies n’ cream, and others.
        Ice cream cones were invented during 1904 World's Fair in St. Louis, when large demand forced ice cream vendor to find help from nearby waffle vendor. Together they made history.
        One of the most unusual ice cream flavors is hot dog flavored ice-cream that was created in Arizona, US.
        Over her entire lifetime, one daily cow can produce enough milk for 9,000 gallons of ice cream!
        Most profitable day for ice cream sellers is almost always Sunday.
        Continental Europe was introduced with ice cream in late 13th century with Marko Polo returned to Italy with his tales of travel in China.
        Larges ice cream cake weighed 12,096 pounds.
        United States produces most ice cream in the world.<br>
        Historians remember that Alexander the Great (356-323 BC) loved to eat snow flavored with nectar and honey.
        Hawaii is a home to an “ice cream bean”, fruit that tastes like vanilla ice cream.
        In United States, July is deemed to be "National Ice Cream Month".
        Market analysts confirmed that ice cream sales increase many times during times of recession or wars.
        Most favorite ice cream topping is chocolate syrup.
        One cone of ice cream can be finished off in 50 licks.
        California is the larger producer of ice cream in United States. During 2003 they alone made 121 million gallons of this cold treat.
        
        Standard ice cream machines have 3 levers. Two for flavors and one for twisting.
        French population started eating ice cream openly in 1660.
        It takes 12 gallons of milk to create one gallon of ice cream.
        Over $21 billion dollars is moved by Ice cream industry in United States alone.<br>
        Ice cream “Brain Freeze” effect is triggered when cold ice touches the roof of your mouth, which causes blood vessels in the head to dilate.
        End of the World War II was celebrated by eating ice cream.
        There is 273 calories in one cup of vanilla ice cream.
        Ice cream can be made in many types – ordinary ice cream, frozen custard, frozen yogurt, reduced-fat ice cream, sherbet, gelato, and others.</p>
        </div>


        {% comment %} <blockquote class="blockquote">
            <p class="mb-0">A well-known quote, contained in a blockquote element.</p>
            <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
          </blockquote> {% endcomment %}
        
      </div>
    
    </div>



{% endblock body %}